/* fonts */
@font-face {
    font-family: "steelBoldItalic";
    src: url(fonts/steelfish\ bd\ it.ttf);
}

@font-face {
    font-family: "steelBold";
    src: url(fonts/steelfish\ bd.ttf);
}

@font-face {
    font-family: "steelExtraBoldItalic";
    src: url(fonts/steelfish\ eb\ it.ttf);
}

@font-face {
    font-family: "steelExtraBold";
    src: url(fonts/steelfish\ eb.ttf);
}

@font-face {
    font-family: "steelOutline";
    src: url(fonts/steelfish\ outline.ttf);
}

@font-face {
    font-family: "steelRegularItalic";
    src: url(fonts/steelfish\ rg\ it.ttf);
}

@font-face {
    font-family: "steelRegular";
    src: url(fonts/steelfish\ rg.ttf);
}

/* body */
body {
    background-image: url("media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* header */
#top-bar {
    text-align: center;
    background-color: #00aaff;
}

#top-bar img {
    width: 70px;
}

#menu {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.option a {
    color: white;
    text-decoration: none;
    font-family: "steelRegular";
    font-size: 20pt;
}

/* banner */
#banner {
    text-align: center;
    margin: 0;
    padding: 0;
}

#banner h1 {
    font-family: "steelBold";
    font-size: 150pt;
    margin-top: 20px;
    margin-bottom: 0;
}

#banner h3 {
    font-family: "steelRegular";
    font-size: 50pt;
    font-weight: lighter;
    margin-top: 0;
}

/* content */
#content {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

#content h1 {
    font-family: "steelExtraBold";
    text-decoration: underline;
    font-size: 100pt;
    margin: 0;
    padding: 80px 0;
}

#content h2 {
    background-color: #ccffff;
    font-family: "steelBold";
    font-size: 50pt;
    margin: 0;
    padding: 30px 0;
}

#content-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.box-container {
    text-align: center;
    background-color: #00ff99;
    border-radius: 20px;
    padding: 50px;
}

.box-container img {
    width: 150px;
    margin: 0;
}

.box-container h3 {
    font-family: "steelBold";
    text-decoration: underline;
    font-size: 50pt;
    margin: 0;
    padding-top: 10px;
}

.box-container p {
    font-family: "steelRegular";
    font-size: 20pt;
    margin: 0;
    padding-top: 20px;
}

/* footer */
#footer {
    background-color: #00aaff;
    display: flex;
    justify-content: center;
    height: 60px;
    margin: 0;
}

#footer p {
    color: white;
    font-family: "steelRegular";
    font-size: 25px;
    margin: 0;
    padding-top: 14px;
}

#footer a {
    text-decoration: none;
    margin: 0;
}

.instagram img {
    width: 30px;
    margin-left: 13px;
    padding-top: 14px;
}

.youtube img {
    width: 40px;
    margin-left: 13px;
    padding-top: 10px;
}